:local(.root){
  textarea{
    resize: none;
  }
h2{
  margin-top: 20px;
  margin-bottom: 5px;
}
.title{
  margin-top: 0;
}
.ant-modal-content{
overflow: auto;

}
.home-editor{
height: 300px;
}
.context{
  height: 500px;
  overflow: auto;
}
    .mdBox{
    height:500px;
    .MDEditor_toolbar{
      display: none;
    }
    .editor,.preview{
      width: 49%;
      height:100%;
      float: left;
      overflow-x: hidden;
    }
    .MDEditor,.MDEditor_editor{
      height:e('calc(100%)');
      .CodeMirror{
        height:100%;
      }
    }
    .preview{
      height: 100%;
      border:1px solid #ccc;
      // margin-top: 50px;
    }
    }
    .ant-transfer-list{
      width:45%;
    }
.tagBox{
  width: 80%;
  height: 300px;
  border-radius: 10px;
  border:1px solid #ccc;
  position: absolute;
  left: 10%;
  background-color: #fff;
  z-index: 10;
  padding: 10px;
  h2{
    color:#108ee9;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .ant-input-search-wrapper{
    width: 60%;
  }
  .tagLibrary{
    margin-top: 10px;
    height: 70%;
    overflow: auto;
    .newTag{
      width: 150px;
      display: inline-block;
      position: relative;
      top: 8px;
      margin: 0 5px 0 0;
    }
  }
}
}
